ipywidgets==7.7.0
json5==0.9.6
matplotlib==3.5.1
numpy==1.22.3
notebook==6.4.10
regex==2022.3.15
pandas==1.4.2
requests==2.27.1
fastapi==0.75.0
uvicorn==0.17.6
pygal==3.0.0
pygal_maps_world==1.0.2
pytest==7.1.1
Pillow>=8.1.1
pycountry==22.3.5
folium==0.12.1.post1
geopandas==0.10.2
